body {
    background-color: #f5faf9;
}

/* hoofdstuktitels */

.card.part {
    background: #126b6b;
    color: white;

    padding: 15px 20px;

    border-radius: 10px;

    margin-top: 40px;
}

/* hoofdstuklinks */

.activity.card {
    display: inline-block;

    width: 45%;

    margin: 1%;

    vertical-align: top;

    background: white;

    border: 1px solid #d0d0d0;

    border-radius: 10px;

    padding: 20px;

    min-height: 180px;

    text-decoration: none;
}

/* titel in kaart */

.activity.card h2 {
    color: #126b6b;
}

.activity.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 20px rgba(0,0,0,.15);
}



