
.navbar {
    background-color: #2ef2f2 !important;
}

body {
    background-color: #08de7a !important;
}

.activity-card {
    background-color: rgb(230, 12, 12) !important;
    border: 1px solid #d0d0d0 !important;
    border-radius: 10px !important;
}



