/* header index*/

body::before {
    content: "";

    display: block;

    height: 180px;

    background-color: #126b6b;

    background-image: url("logo.jpg");

    background-repeat: no-repeat;

    background-position: left 30px center;

    background-size: 220px auto;

    border-radius: 0 0 20px 20px;

    margin-bottom: 30px;
}

/* cursustitel */

.title,
h1.title,
.maketitle h1 {
    color: white !important;

    position: absolute;

    top: 50px;

    left: 320px;

    font-size: 3rem;

    font-weight: bold;
}

/* slogan */
body::after {
    content: "Wiskunde • Fysica • STEM";

    display: block;

    position: absolute;

    top: 130px;

    left: 320px;

    color: white;

    font-size: 1.2rem;
}


/* Body */

body {
    background-color: #f3640b;
}



/* hoofdstuktitels */

.card.part {

    background: #126b6b;
    color: white;

    border-radius: 15px;

    padding: 20px;

    margin-top: 30px;

    font-size: 2rem;
}

/* hoofdstuklinks */

a.activity.card {

    display: inline-block !important;

    width: calc(50% - 25px);

    margin: 10px;

    vertical-align: top;

    min-height: 180px;

    background: white;

    border-radius: 12px;

    padding: 20px;

    box-shadow: 0 3px 10px rgba(0,0,0,.1);
}

/* titel in kaart */

.activity.card h2 {
    color: #126b6b;
}

.activity.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 20px rgba(0,0,0,.15);
}

/* Container voor activiteiten */
body {
    max-width: 1600px;
    margin: auto;
}

/* Hoofdstukken */
.card.part {
    display: block;
    width: 100%;
    background: #126b6b;
    color: white;
    padding: 20px;
    border-radius: 15px;
    margin-top: 30px;
}

/* Activiteiten als tegels */
a.activity.card {
    display: inline-block !important;

    width: calc(50% - 30px);

    margin: 10px;

    vertical-align: top;

    background: white;

    border-radius: 12px;

    border: 1px solid #d0d0d0;

    min-height: 220px;

    padding: 20px;

    text-decoration: none;

    box-shadow: 0 3px 10px rgba(0,0,0,.10);
}

a.activity.card:hover {
    transform: translateY(-3px);
}

a.activity.card h2 {
    color: #126b6b;
}

p {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

a.activity.card {
    flex: 1 1 400px;

    background: white;

    border-radius: 15px;

    border: 1px solid #d0d0d0;

    padding: 20px;

    min-height: 200px;

    text-decoration: none;

    box-shadow: 0 3px 10px rgba(0,0,0,.10);
}

a.activity.card h2 {
    color: #126b6b;
    margin-top: 0;
}

body::before {
    content: "AFGELEIDEN";

    display: block;

    background: #126b6b;

    color: white;

    font-size: 4rem;

    font-weight: bold;

    padding: 50px;

    border-radius: 0 0 20px 20px;

    margin-bottom: 30px;
}


