a.activity.card {

    display: inline-block;

    width: 420px;

    min-height: 180px;

    vertical-align: top;

    margin: 15px;

    padding: 20px;

    background: white;

    border: 1px solid #d0d0d0;

    border-radius: 10px;

    box-shadow: 0 2px 5px rgba(0,0,0,.1);

    text-decoration: none;
}

a.activity.card h2 {

    margin-top: 15px;

    font-size: 1.8rem;

    font-weight: bold;
}

a.activity.card h3 {

    color: #666;

    font-size: 1rem;

    font-weight: normal;
}